Repository opstrace/opstrace, pull requests merged in 2020-12, with the labels that each got.

#95 docs(quickstart): fix broken link (missing .md)
  docs/quickstart.md
Labels: area: docs

#99 docs(quickstart): fix wording for provided domain name
  docs/quickstart.md
Labels: area: docs

#149 feat(aws): cortex/loki bucket lifecycle rule for data retention
  lib/aws/src/bucket.ts
  packages/installer/src/aws.ts
Labels: area: controller, type: feature

#163 ci: fix docs pr check regex
  ci/check-if-docs-pr.sh
Labels: area: ci
