Repository opstrace/opstrace, pull requests merged in 2021-01, with the labels that each got.

#252 chore: remove root go.mod
  .gitignore
  go.mod
Labels: type: devX / tooling, type: devprod

#255 ci(gcp): use brand new projects -ddd, -eee, -fff for CI
  Makefile
  ci/deploy-testremote-teardown.sh
Labels: area: ci

#303 controller: fix affinity rules
  lib/kubernetes/src/utils/affinity.ts
Labels: area: controller

#295 docs(writing): clarify noun "login" and verb "log in"
  docs/guides/contributor/writing-docs.md
Labels: area: docs
