Repository opstrace/opstrace, pull requests merged in 2021-06, with the labels that each got.

#807 ui: fix - integration.key should be unique per tenant, not per cluster
  go/pkg/graphql/client_generated.go
  packages/app/migrations/1622501245248_alter_table_public_integration_add_unique_key_tenant_id/down.sql
  packages/app/migrations/1622501245248_alter_table_public_integration_add_unique_key_tenant_id/up.sql
  packages/app/src/state/graphql-api-types.ts
  packages/controller/src/dbSDK.ts
Labels: area: ui/app stack, type: bug

#825 ui: store i9n status check result in redux to stop flicker of status when clicking around site
  packages/app/src/client/integrations/common/ExporterStatus.tsx
  packages/app/src/client/integrations/k8sLogs/Show/index.tsx
  packages/app/src/client/integrations/k8sLogs/Status.tsx
  packages/app/src/client/integrations/k8sMetrics/Show/index.tsx
  packages/app/src/client/integrations/k8sMetrics/Status.tsx
  packages/app/src/state/integration/types.ts
Labels: area: ui/app stack, in progress

#840 chore: update links for renamed config.md
  README.md
  docs/guides/administrator/managing-tenants.md
  docs/guides/user/sending-logs-with-fluentd.md
  docs/guides/user/sending-logs-with-promtail.md
  docs/guides/user/sending-metrics-with-prometheus.md
  docs/quickstart.md
  docs/references/cli.md
Labels: area: docs

#846 docs: fix links
  docs/guides/administrator/managing-tenants.md
  docs/references/cli.md
Labels: area: docs

#847 chore: refresh and other nits for the README
  README.md
Labels: area: docs

#865 ui: fix - webkit failing to render due to unsupported lookbehind syntax used in regex
  packages/app/src/client/utils/regex.ts
Labels: area: ui/app stack, type: bug

#885 ui: don't auto-create empty grafana folder for exporter integrations
  packages/app/src/client/integrations/exporterAzure/Form.tsx
  packages/app/src/client/integrations/exporterCloudMonitoring/Form.tsx
  packages/app/src/client/integrations/exporterCloudWatch/Form.tsx
Labels: area: ui/app stack

#887 ui: "View Metrics" button for exporter integrcations
  packages/app/src/client/integrations/exporterAzure/Show/index.tsx
  packages/app/src/client/integrations/exporterCloudMonitoring/Show/index.tsx
  packages/app/src/client/integrations/exporterCloudWatch/Show/index.tsx
Labels: area: ui/app stack

#893 ui: fix wrong useMemo dependency specified in exporter i9n show/index.tsx
  packages/app/src/client/integrations/exporterAzure/Show/index.tsx
  packages/app/src/client/integrations/exporterCloudMonitoring/Show/index.tsx
  packages/app/src/client/integrations/exporterCloudWatch/Show/index.tsx
Labels: area: ui/app stack

#903 ui: rename "add" and "create" in integrations copy and code to be "install"
  packages/app/src/client/app.tsx
  packages/app/src/client/integrations/exporterAzure/Form.tsx
  packages/app/src/client/integrations/exporterCloudMonitoring/Form.tsx
  packages/app/src/client/integrations/exporterCloudWatch/Form.tsx
  packages/app/src/client/integrations/k8sLogs/Form.tsx
  packages/app/src/client/integrations/k8sMetrics/Form.tsx
  packages/app/src/client/integrations/paths.ts
  packages/app/src/client/views/integrations/all/All.tsx
  packages/app/src/client/views/integrations/all/Install.tsx
  packages/app/src/client/views/integrations/index.tsx
Labels: area: ui/app stack

#911 ui: added README.md to test/browser to explain auth and aid contributors
  test/browser/README.md
Labels: area: docs, area: ui/app stack

#961 ui: mark the everywhere browser test as "slow"
  test/browser/tests/everywhere.spec.ts
Labels: area: ui/app stack

#962 controller: switch pull policy from Always to IfNotPresent to reduce requests
  packages/controller-config/src/resources/controller.ts
  packages/controller/src/resources/apis/cortex.ts
  packages/controller/src/resources/apis/dd.ts
  packages/controller/src/resources/apis/loki.ts
  packages/controller/src/resources/app/api.ts
  packages/controller/src/resources/app/app.ts
  packages/controller/src/resources/storage/gcp.ts
Labels: area: controller
