Repository opstrace/opstrace, pull requests merged in 2021-08, with the labels that each got.

#1148 ui: beefed up error handling when trying to create Opstrace Session
  packages/app/src/client/components/withSession/index.tsx
Labels: area: ui/app stack

#1164 ui: switching back to single worker for browser tests to limit number of login attempts to auth0
  Makefile
Labels: area: ui/app stack

#1181 test-browser: toggle for saving/loading Playwright state between runs
  .gitignore
  test/browser/README.md
  test/browser/fixtures/authenticated.ts
  test/browser/package.json
Labels: area: test-browser

#1194 task: followed up on yarn warning about caniuse-lite being out of date
  yarn.lock
Labels: type: task

#1234 ui: remove old withAuthentication code
  packages/app/src/client/components/withAuthentication/index.tsx
  packages/app/src/client/components/withSession/index.tsx
  packages/app/src/client/views/login/index.tsx
  packages/app/src/client/views/login/login.stories.tsx
  packages/app/src/client/views/session/AccessDenied.tsx
  packages/app/src/client/views/session/Loading.tsx
  packages/app/src/client/views/session/Login.tsx
  packages/app/src/client/views/session/Logout.tsx
  packages/app/src/client/views/session/index.tsx
  packages/app/src/client/views/session/loadingStages/tracy-access-denied.svg
  packages/app/src/client/views/session/loadingStages/tracy-auth0.svg
  packages/app/src/client/views/session/loadingStages/tracy-create-session.svg
  packages/app/src/client/views/session/loadingStages/tracy-error.svg
  packages/app/src/client/views/session/loadingStages/tracy-logout.svg
  packages/app/src/client/views/session/loadingStages/tracy-status-check.svg
Labels: area: ui/app stack

#1346 ci: add new gcp projects to shard ci builds over
  Makefile
  ci/deploy-testremote-teardown.sh
  ci/test-upgrade/run.sh
Labels: area: ci
